<a href="https://colab.research.google.com/github/asadrajpoot75/CPS5001/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

week2

example#1

In [1]:
print("hello world")

hello world

class activity

In [17]:
import pandas as pd
data = {'Employee_name':['Richard Nicholson','Belinda Carlisle','Romeo Fara','Francisco Chavez'],
        'Monthly_Net_Salary':['3256.23',1562,1400.58,'55689'],
        'Age':['45',29,'23','Unknown']
        }
df = pd.DataFrame(data)
print("\Data Frame before fixing mixed data types:\n",df)

def detect_mixed_data_values(df):
  mixed_columns={}
  for column in df.columns:
    inferred_type=pd.api.types.infer_dtype(df[column])
    if inferred_type=='mixed-integer':
       mixed_columns[column]=inferred_type
  return mixed_columns

mixed_columns=detect_mixed_data_values(df)
print("\nColumns with mixed data types:",mixed_columns)

def fix_mixed_data_values(df):
  for column in df.columns:
    if pd.api.types.infer_dtype(df[column])=='mixed_integer':
      df[column]=pd.to_numeric(df[column],errors='coerce')
  return df

df_fixed=fix_mixed_data_values(df)
print("\nData Frame after fixing mixed data types:\n",df_fixed)

\Data Frame before fixing mixed data types:
        Employee_name Monthly_Net_Salary      Age
0  Richard Nicholson            3256.23       45
1   Belinda Carlisle               1562       29
2         Romeo Fara            1400.58       23
3   Francisco Chavez              55689  Unknown

Columns with mixed data types: {'Monthly_Net_Salary': 'mixed-integer', 'Age': 'mixed-integer'}

Data Frame after fixing mixed data types:
        Employee_name Monthly_Net_Salary      Age
0  Richard Nicholson            3256.23       45
1   Belinda Carlisle               1562       29
2         Romeo Fara            1400.58       23
3   Francisco Chavez              55689  Unknown